
<section class="blog-posts">
    {{#if posts}}
    {{#each posts}}
    <div class="blog-header">
        {{!-- Insert the post's title --}}
        <h1>{{title}}</h1>
    </div>
    <main>
        <section class="post-card">
            <div class="post-content">
                <p>{{content}}</p>
            </div>
            <div class="post-meta">
                <span class="post-date">{{date}}</span>
            </div>
        </section>
    </main>
    {{/each}}
    {{else}}
        <p>No posts found.</p>
    {{/if}}
</section>


