<section class="login-signup-container">
    {{!-- Section for user login --}}
    <section class="login-container">
        <div class="login-card">
            <h2 class="login-header">Login</h2>
            <form class="login-form">
                <div class="form-data">
                    <label for="login-email">Email:</label>
                    <input class="form-input" type="text" id="login-email" />
                </div>
                <div class="form-data">
                    <label for="login-password">Password:</label>
                    <input class="form-input" type="password" id="login-password" />
                </div>
                <div class="form-data">
                    <button class="login-btn" type="submit">Login</button>
                </div>
            </form>
        </div>
    </section>
    {{!-- Section to create a new user --}}
    <section class="signup-container">
        <div class="signup-card">
             <h2 class="signup-header">Signup</h2>
        <form class="signup-form">
            <div class="form-data">
                <label for="signup-username">Username:</label>
                <input type="text" class="form-input" id="signup-username">
            </div>
            <div class="form-data">
                <label for="signup-email">Email:</label>
                <input class="form-input" type="text" id="signup-email" />
            </div>
            <div class="form-data">
                <label for="signup-password">Password:</label>
                <input class="form-input" type="password" id="signup-password" />
            </div>
            <div class="form-data">
            </div>
             <button type="submit">Create</button>
        </form>
</section>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>
